#all
{
	position: relative;
	display: block;
	min-height: 100%;
}

#content
{
	padding-top: 54px;
	padding-bottom: 50px;

	text-align: center;
	width: 100%;
}

.card
{
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2), 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
	margin-top: 2em;
	margin-bottom: 2em;

	display: inline-block;
	border-radius: 2px;
	max-width: 400px;
	min-width: 310px;
	width: 80%;
}

.card_title
{
	background-color: #7986CB;
	color: #FFF;
	font-family: "roboto_light";
	margin: 0;
	padding: 0.5em;
}

.container
{
}

.hidden
{
	display: none;
}

.error_msg
{
	padding-left: 8px;
	padding-right: 8px;
	color: #999;
}

.simple_link
{
	margin: 1em;
}
.simple_link > a
{
	color: #7986CB;
}
