#container_editing
{
	clear: both;
}

#main_editing
{
	display: inline-block;
	min-width: 574px;
	width: 574px;
	height: auto;
	min-height: 520px;
	margin: 20px;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2), 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

#side_editing
{
	display: inline-block;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	vertical-align: top;
	width: 30%;
	max-width: 540px;
	height: 520px;
	margin: 20px;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2), 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.item_side_editing
{
}

.item_side_editing > img
{
	width: 100%;
	height: 100%;
}

#canvas
{
	display: none;
}

@media only screen and (max-width: 949px)
{
	#side_editing
	{
		width: 60%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

.frames_inputs label
{
	margin-top: 15px;
}