@font-face {
	font-family: 'roboto_bold';
	src: url(fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
	font-family: 'roboto_light';
	src: url(fonts/roboto/Roboto-Light.ttf);
}

@font-face {
	font-family: 'roboto_medium';
	src: url(fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
	font-family: 'roboto_regular';
	src: url(fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'roboto_thin';
	src: url(fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
	font-family: 'material_icons';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/material_icons/MaterialIcons-Regular.ttf);
}
