#footer
{
	z-index: 100;
	background-color: #EF9A9A;
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'roboto_thin';
}

.footer_text
{
	color: #FFF;
}
