.form_connexion
{
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	font-family: "roboto_thin";
}

/*****************************************************************************/

.input_form
{
	padding: 0.5em 0.5em 0.5em 0.3em;
	border: none;
	width: 287px;
	border-bottom: 1px solid #999;
	background-color: transparent;
}

.input_form:focus
{
	outline: none;
}

.input_group
{ 
	position: relative;
	padding-bottom: 1.25em;
	padding-top: 1.25em;
}

.input_group label
{
	color: #999;
	font-size: 1.1em;
	position: absolute;
	pointer-events: none;
	left: 7px;
	top: 29px;
	transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.input_form:focus ~ label, .input_form:valid ~ label
{
	top: 2px;
	font-size: 0.8em;
	color: #7986CB;
}

.input_checkbox
{
	color: #999;
	font-size: 1.1em;
}

.input_checkbox > input
{
	margin-left: 100px;
}

/*****************************************************************************/

.input_bar
{
	position: relative;
	display: block;
	width: 300px;
}

.input_bar::before, .input_bar::after
{
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #7986CB;
	transition: left 0.2s ease, right 0.2s ease, width 0.2s ease;
}

.input_bar::before
{
	left: 50%;
}

.input_bar::after
{
	right: 50%;
}

.input_form:focus ~ .input_bar::before, .input_form:focus ~ .input_bar::after
{
	width: 50%;
}

/*****************************************************************************/

.button_group
{
	display: flex;
	justify-content: space-around;
	margin-top: 1em;
	margin-bottom: 1em;
}


.button_form
{
	text-align: center;
	font-family: "roboto_thin";
	color: #999;
	background-color: transparent;
	width: 120px;
	height: 32px;
	border: none;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s ease;
	cursor: pointer;
	outline: none;
	margin: 5px;
}

.button_form:active
{
	box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2);
}

.button_form:hover, .button_form:focus
{
	background-color: #7986CB;
	color: white;
}

.button_form_unliked
{
	text-align: center;
	font-family: "roboto_thin";
	color: #999;
	background-color: transparent;
	width: 120px;
	height: 32px;
	border: none;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s ease;
	cursor: pointer;
	outline: none;
	margin: 5px;
}

.button_form_unliked:hover
{
	background-color: #7986CB;
	color: white;
}

.button_form_liked {
	background-color: #7986CB;
	color: white;
	text-align: center;
	font-family: "roboto_thin";
	width: 120px;
	height: 32px;
	border: none;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s ease;
	cursor: pointer;
	outline: none;
	margin: 5px;
}
