.gallery
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 25px
}

.no_gallery {
	margin: 25px;
}

.item_gallery 
{
	margin: 25px;
	border: 0;
    border-radius: 3px;

	width: 270px;
	transition: margin 0.2s ease, width 0.2s ease;
}

.item_gallery:hover
{
	width: 320px;
	margin: 0;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2), 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.item_gallery img
{
	border-radius: 3px;
	width: 100%;
	height: 100%;
}

.modal
{
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal_content
{
	z-index: 10;
	background-color: #fefefe;
	margin: 15% auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #888;
	width: 80%;
	max-width: 1500px;
	max-height: auto;
}

.modal_image
{
	width: 80%;
	height: auto;
}

.close
{
	color: #aaa;
	float: right;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 3em;
	top: 0;
	font-weight: bold;
}

.close:hover, .close:focus
{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.link_image
{

}

.thumb_up, .thumb_up > .material_icons
{
	color: #607D8B !important;
	font-size: 25px;
}

#comment_form :nth-child(1n){
	display: inline-block;
	vertical-align: middle;
}

.send > .material_icons
{
	color: #607D8B !important;
	font-size: 25px;
}

.send {
	background-color: white;
	border: none;
	cursor: pointer;
	outline: none;
	margin: 10px;
}

#comment_form {
	display: inline-block;
	white-space: nowrap;
}

#comment_form > textarea {
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
	border: 0px solid white;
	border-radius: 5px;
	margin-left: 25px;
	margin-right: 11px;
}

.modal_comment {
	border: 1px solid #999;
	resize: vertical;
}

#comment_part {
	margin-top: 15px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

#comment_display {
	margin-left: 25px;
	margin-right: 25px;
}

#comment_display > p {
	font-family: "roboto_thin";
	color: #999;
	background-color: transparent;
	border: 0px solid white;
	border-radius: 5px;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
	outline: none;
	margin: 5px;
	padding: 10px;
	white-space: pre-wrap;
	text-align: left;
}

#comment_display > div {
	padding: 5px;
	padding-left: 10px;
	padding-top: 10px;
	color: #7a7a7a;
	text-align: left;
}

@media only screen and (max-width: 970px)
{
	#comment_part
	{
		flex-direction: column-reverse;
	}
}

#img_take_by {
	color: #7a7a7a;
}

