#header
{
	position: fixed;
	width: 100%;
	height: 54px;
	top: 0;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
	text-align: center;
	background-color: #C62828;
	z-index: 100;
}

/*****************************************************************************/

#header
{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	font-family: 'roboto_light';
}

.header_link
{
	text-decoration: none;
	color: #FFF;	
}
.header_link:hover:not(.selected_link):not(.first_link), .header_icon:hover:not(.selected_link) > i
{
	color: rgba(255, 255, 255, 0.7);
}
.middle_header > .header_link:hover:not(.selected_link)
{
	border-bottom: 5px solid rgba(255, 255, 255, 0.7);
}

.left_header
{
	font-size: 1.7em;
	margin-left: 0.7em;
}

.middle_header
{
	font-size: 1.2em;
}
.middle_header > .header_link
{
	padding: 0.59em;
}

.right_header
{
	margin-right: 0.6em;
}
.right_header > .header_link
{
	padding: 5px;
	border: 2px solid #FFF;
	border-radius: 2px;
}

.selected_link
{
	border-bottom: 5px solid #FFF;
}

/*****************************************************************************/

@media only screen and (min-width: 700px)
{
	.header_icon
	{
		display: none !important;
	}
}
@media only screen and (max-width: 699px)
{
	.header_link:not(.first_link)
	{
		display: none !important;
	}
}

/*****************************************************************************/

.material_icons {
	font-family: 'material_icons';
	font-weight: normal;
	font-style: normal;
	font-size: 36px;
	color: #FFF;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

/*****************************************************************************/
